<h1>New user</h1>

<form action="<%=users_url%>" method="POST">
	<label for="username">Username</label>
	<input type="text" id="username" name="user[username]">
	<label for="password">Password</label>
	<input type="password" id="password" name="user[password]">
	<input type="submit" id="Create User" value="Submit">
</form>

<a href="<%= users_path %>">Back</a>
